html {
    overflow: hidden;
}
.page-content{
    max-height: 100vh;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas: 
    "header main"
    "header main"
    "footer footer";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 10fr 10fr 1fr;
    background-image: url(../assets/sunset.jpg);
    background-position: center;
    background-size: cover;
}
.header{
    grid-area: header;
}

.main{
    align-items: center;
    height: 100%;
    width: 100%;
    grid-area: main;
    display: grid;
    grid-template-areas:
    "title"
    "search"
    "weather";
    grid-template-rows: 1fr 1fr 8fr;
}

.title{
    grid-area: title;
}
.location{
    grid-area: search;
}
.weather-container{
    grid-area: weather;
    width: 97%;
    height: 100%;
}

.footer{
    height: 5vh;
    grid-area: footer;
}
